html, body {
    margin: 0;
}

.taskbar {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(45deg, #b44148,#4a0149);
    position: fixed;
    top:0;
    padding-left: 400px;
    cursor: pointer;
}

.bar {
    font-family: arial;
    width: auto;
    height: 30px;
    background-color: linear-gradient(-90deg, #062238,#004E9A);
    float:left;
    margin: 0;
    padding: 9px 17px 0;
    box-sizing: border-box;
    font-size:12px
    
}

.bar:hover {
    background-color:white;
}

.bg {
    padding-top: 30px;
}

.tieude {
    text-align: center; 
}

.first, .second {
    background: -webkit-linear-gradient(180deg, #1b262a, #ed8761 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-top:20px;
    font-size: 50px;
    
}

.tieude {
    width: 100%;
    height: 100%;
}

.nhat {
    font-style: italic;
    font-family:arial;
    font-size:13px;
    line-height: 0px;
}

.gioithieu {
    padding: 20px 200px;
    text-align: justify;
    font-family:arial;
    line-height: 25px;
}

.member {
    box-sizing: border-box;
}

.bg1 {
    width:100%;
    height: 1030px;
    background-image: linear-gradient(-45deg, #47001c,#971132);
    color:white;
    background-size:1200px ;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50px; */
    padding-top:10px;
}

.second {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-top:20px;
    font-size: 30px;
    margin-left: 150px;

}

.mem1 {
    width: 100%;
    height: 50vh;
    background-image: url(https://bom.so/YZsnaw);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left 150px;
    background-origin: content-box;
    filter: drop-shadow(0.5em 0.5em 0.5em #d04f4f);
}

.profile1 {
    margin-left: 450px;
    font-family: arial;
    line-height: 30px;
    margin-bottom: 15px;
    padding-right: 170px;
}

.mem2 {
    width: 100%;
    height: 50vh;
    background-image: url(https://bom.so/MzXbxo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left 150px;
    margin-top: 30px;   
    filter: drop-shadow(0.5em 0.5em 0.5em #d04f4f);
}
.profile2 {
    margin-left: 450px;
    font-family: arial;
    line-height: 30px;
    margin-bottom: 15px;
    padding-right: 10px;
}

.mem3 {
    width: 100%;
    height: 50vh;
    background-image: url(https://bom.so/QTth6l);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left 150px;
    filter: drop-shadow(0.5em 0.5em 0.5em #d04f4f);
}

.profile3 {
    margin-left: 450px;
    font-family: arial;
    line-height: 30px;
    margin-bottom: 15px;
    padding-right: 60px;
}

.bg2 {
    width:100%;
    height: 85vh;
    background-image: linear-gradient(90deg,#ff7171, #9b2020);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    

}

.third {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-top:20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top:20px;
    background: -webkit-linear-gradient(0deg, #0d0d1b,#f88973 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-sizing: border-box;
}

.pfban1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top:20px;
    font-size: 20px;
    margin-left: 150px;
    padding-top: 10px;
}

.pf2ban1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top:220px;
    font-size: 20px;
    margin-right: 700px;
    margin-left: 150px;
}

.pfban1, .pf2ban1 {
    background: -webkit-linear-gradient(90deg,#870000, #190a05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ban {
    width: 18%;
    float: left;
}

.ban1 {
    margin-left: 180px;
}

.band {
    width: 18%;
    float: left;
    margin-top: 10px;
}

.ban5 {
    margin-left: 280px;
}

.first1, .first2 {
    display: flex;
    justify-content: center;
    line-height: 35px;
}

.first1 {
    letter-spacing: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 30px;
}

.first2 {
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Lato", sans-serif;
    color: rgba(128,128,128,0.9)
}

.fas {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
}

.fas.fa-map {
    margin-top: 50px;
}

.ttlh, .dtt {
    float:left;
}

.dtt {
    margin-top: 50px;
    margin-left: 150px;
}

form input {
    border-radius: 5px;
}

a:hover {
    background: -webkit-linear-gradient(180deg,#0077b5, #c004c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ten, .email {
    float: left;
    padding-bottom: 10px;
}

.ten {
    padding-right: 10px;
}

.noidung {
    padding-bottom: 10px;
}

.nut {
    margin-left: 257px;
    padding-bottom: 20px;
}

.button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
.button:hover {
    background-color: #9e9e9e; 
    color: rgb(0, 0, 0);
}

.anhclb {
    margin-top: 50px;
}

/* .bgclb {
    margin: 120px 260px 0px 260px;
      width:680px;
      height:550px;
      border:10px solid transparent;
      border-image:url(https://webcoban.vn/image/pattern3.png) 50 / 10px / 60px stretch;
} */

.fa {
    margin-top: 50px;
    font-size: 30px;
    color: rgb(175, 167, 167);
    margin-right: 5px;
}


.fa-facebook:hover {
    background: -webkit-linear-gradient(180deg, #89f7fe, #66a6ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transition-duration: 2s; */
}

.fa-instagram:hover {
    background: -webkit-linear-gradient(180deg, #f58529, #dd2a7b );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-snapchat:hover {
    background: -webkit-linear-gradient(180deg, #fffc00, #838f1a );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-pinterest:hover {
    background: -webkit-linear-gradient(180deg, rgba(255, 0, 0, 0.8), #ff5656 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-twitter:hover {
    background: -webkit-linear-gradient(180deg,#00eeff, #3045ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
    background: -webkit-linear-gradient(180deg,#0077b5, #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook {
    margin-left: 505px;
}

.fa-pinterest {
    margin-left: 0px;
}

.cre {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 1000;
    text-align: center;
}

.linkfb {
    background: -webkit-linear-gradient(180deg, #fd80a8, #fccf42 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider {
    width: 80%;
    margin:0 auto;
    overflow: hidden;
    padding-top: 40px;
    filter: drop-shadow(0.5em 0.5em 0.5em  #000000);
}

.slider_imgs {
    display: flex;
}

.slider_imgs img {
    width: 100%;

}

.slider_imgs input {
    display: none;
}

.labelslider {
    display: flex;
    justify-content: center;
}

.labelslider label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #9b2020;
    margin-top: 20px;
    margin-right: 10px;
}

.labelslider label:hover {
    background: -webkit-linear-gradient(180deg,#ff7171, #9b2020);
}

#imgg1:checked ~.imgslider1 {
    margin-left: -100%;
}

#imgg2:checked ~.imgslider2 {
    margin-left: -200%;
}

#imgg3:checked ~.imgslider3 {
    margin-left: -300%;
}

#imgg4:checked ~.imgslider4 {
    margin-left: -400%;
}

#imgg5:checked ~.imgslider5 {
    margin-left: -500%;
}